/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*  -------------------- Base header - Footer Styles -------------------*/

header,
footer {
  background-color: hsl(114,38%,39%);
}

/* Header styles */

header {
display: flex;
justify-content: space-evenly;
}

header .content-wrapper {
  display: flex;
  align-items: center;
  /* border: 2px dotted aqua; */
}

header .content-wrapper a {
  display: flex;
}

header .logo {
  width: 20%;
  height: auto;
  /* border: 2px dotted orange; */
  margin-left: 20px;
  flex: 0 1 auto;
}

header nav {
  display: flex;
  width: 50%;
  /* border: 2px dotted aqua; */
  margin: 0 25px;
}

header nav ul {
  display: flex;
  list-style-type: none;
  gap: 15px;
  padding-left: 0;
}

header nav ul li a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

/* Main styles */

.hero-area .content-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column wrap;
  width: 95%;
  /* border: 2px dotted blue; */
}

aside {
  /* border: 2px dotted blue; */
  width: 95%;
}

.signup-form {
  /* border: 2px dotted blue; */
  width: 50%;
  margin: auto;
}
.signup-form #flex-item-1, #flex-item-2 {
  display: flex;
  justify-content: center;
}

.content-wrapper .features-items {
  display: flex;
  justify-content: center;
}

.features .content-wrapper {
  /* border: 2px dotted blue; */
  width: 95%
}

.episode-description .content-wrapper {
  /* border: 2px dotted blue; */
  width: 95%;
}

/* About Page styles */

.mission .content-wrapper {
  display: flex;
}

.content-wrapper .mission-content {
  display: flex;
  flex-direction:column;
  justify-content: space-evenly;
  margin: 0 20px;
}

.map .content-wrapper figure {
  display: flex;
  justify-content: center;
}

.contact-section .content-wrapper {
  display: flex;
  margin: 0 20px;
}

address {
  margin-bottom: 50px;
}

.contact-content .general-information, .host-information {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0px 20px;
}

.host-information h4 {
  margin: 10px 0;
}

/* FAQ styles */

.questions-section .content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 40px 20px;
}

/* Footer styles */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

footer .content-wrapper {
  /* border: 2px dotted blue; */
  width: 75%;
  margin: 50px 0;
}

footer h4 {
  color: #fff;
}

.social-icons {
  display: flex;
  justify-content: space-evenly;
}

.copyright {
  color: #fff;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

